<h2><%= question.question %> ?</h2>
<% question.choices.each do |c| %>
  <form id="game-form" action=<%="/rounds/#{round_id}/decisions"%> method='post'>
    <div class="answer"><input type="radio" name="answer" value="a"/> <%= c.a %></div>
    <div class="answer"><input type="radio" name="answer" value="b"/> <%= c.b %></div>
    <div class="answer"><input type="radio" name="answer" value="c"/> <%= c.c %></div>
    <div class="answer"><input type="radio" name="answer" value="d"/> <%= c.d %></div>
    <input type="hidden" name="question_id" value="<%= c.question_id %>">
    <input type="submit" name="submit" value="Submit!"/>
  </form>
<%end%>
