<div class="question-container">
  <h1>Survey Machine</h1>
    <h2><%=question.question+"?"%>
        <form class="game-form" action=<%="/rounds/#{round_id}/decisions"%> method='post' />
        <% question.choices.each do |c| %>
          <input type="radio" name="answer" value="a"><%= c.a %>
          <input type="radio" name="answer" value="b"/><%= c.b %>
          <input type="radio" name="answer" value="c"/><%= c.c %>
          <input type="radio" name="answer" value="d"/><%= c.d %>
          <input type="hidden" name="question_id" value="<%= c.question_id %>">
          <input type="submit" name="submit" value="Submit!"/>
        <%end%>
        </form>

</div>


