<div class="container">
  <h1>Survey Machine</h1>
    <% if survey.questions.length > 0 %>
      <% survey.questions.each do |q| %>
        <%= q.question %>
        <% q.choices.each do |c| %>
          <form action='/decisions' method='post' />
           <input type="radio" name="a" value="<%= c.a %>"><%= c.a %>
           <input type="radio" name="b" value="<%= c.b%>"/><%= c.b %>
           <input type="radio" name="c" value="<%= c.c %>"/><%= c.c %>
           <input type="radio" name="d" value="<%= c.d %>"/><%= c.d %>
           <input type="submit" name="Submit!"/>
           </form>
        <% end %>
      <% end %>
    <% end %>
</div>
